grant codeBase "file:/Users/eloigabal/Developement/Debatre/TaskExecutor/TaskExecutorClient/src/" {
    permission java.security.AllPermission;
};

grant {
  permission java.security.AllPermission;
};
